boto3==1.16.12
botocore==1.19.12
graphviz==0.14.2
jmespath==0.10.0
python-dateutil==2.8.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
six==1.15.0
urllib3==1.25.11
vext==0.7.4
vext.gi==0.7.4
xdot==1.1
